<!DOCTYPE html>
<html>
<head><title>Budget Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <h1>Personal Expense and Budget Tracker</h1>
        <p>Manage missing categories and visualize your finances</p>
    </div>
    <br>
    <div class="card-container">
    <div class="card">
        <h3>Edit Missing Categories</h3>
        <p>Manually assign categories to uncategorized transactions.</p>
        <a href="{{ url_for('edit') }}" class="button">Edit Categories</a>
    </div>
    <div class="card">
        <h3>View Dashboard</h3>
        <p>Analyze your categorized expenses in Power BI.</p>
        <a href="{{ url_for('dashboard') }}" class="button">Open Dashboard</a>
    </div>
    <div class="card">
        <h3>Append Data</h3>
        <p>Append the Retrieved data to Master Database.</p>
        <a href="{{ url_for('append_to_excel_table') }}" class="button">Add Data</a>
    </div>
</div>
</body>
</html>
